
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS, 'Lucida Sans Unicode'
  ,'Lucida Grande','Lucida Sans', Arial, sans-serif;
}

h1 {color:rgb(133, 255, 96); margin: 10px; background:#00860b;}
h2 {color:rgb(103, 47, 255); margin: 20px;}
h3 {color: hsl(130, 97%, 34%); margin: 20px;}
h4 {color:blueviolet;  margin: 20px;}
p  {margin: 20px;}

body {
  color:#03b200; 
  font-size: 20px;
  margin: 5px;
  background: rgb(58, 58, 58);
}

.box {
  height: 20px;
  width: 70%;
  padding: 16px;
  border-radius: 3px;
  border: 2px solid rgba(108, 0, 197, 0.329);
  background-color:rgba(86, 0, 199, 0.411);
  letter-spacing: 0.2em;
  cursor: help;
  justify-content: center;
  align-items: center;
  display:flex; /*so its center text*/
}



.box2 {
  margin: 10px;
  --offset: 10px;
  --border-size: 2px;
  display: block;
  position: relative;
  padding: 0.5em 0.5em;
  appearance: none;
  border: 0;
  background: transparent;
  color: #43e55ecc;
  letter-spacing: 0.2em;
  outline: none;
  cursor: default;
  font-weight: bold;
  border-radius: 10px 10px 1px 1px;
  box-shadow: inset 0 0 0 var(--border-size) currentcolor;
  transition: background 0.8s ease;
  background: rgba(0, 223, 0, 0.356);

  
};

.box3 {
  height: 10px;
  width: 500px;
  padding: 20px;
  margin: 25px;
  border: 5px solid rgba(225, 228, 72, 0.603);
  background-color:rgba(255, 236, 129, 0.466);
}

.box4 {
  height: 150px;
  width: 600px;
  margin: 25px;
  border-radius: 3px;
  border: 2px solid rgb(57, 57, 57);   
  background-color:rgb(0, 0, 0);
  border-radius: 20px;
  align-items: center;
  }

  .box4 img {
    border-radius: 80px;
    margin: 25px;
  }


em {
  color:#0ffff0;
  font-style: normal;
}

img {
 margin: 30px;
 width: 100px;
 margin-right: 10px;
}

input{margin:30px;}



/* FROOM THE PROOJECT */

/* PROJECT1 */
  
  .emoji {
    margin: 5%;
    font-size: 8rem;
    cursor: pointer;
    user-select: none;
  }
  
  .closed {
    display: none;
  }
  
  .open {
    display: none;
  }
  
  .active {
    display: block;
  }

 /* PROJECT2 */
    
    #info {
    display:grid;
    grid-template-columns: 0.5fr 0.5fr;
    

    margin: 50px;
    --offset: 10px;
    --border-size: 2px;
  
    position: relative;
    padding: 1em 1em;
    appearance: none;
    border: 0;
    background: transparent;
    color: #945bff88;
    letter-spacing: 0.2em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
    background:#ddbeffc7;
    border-radius: 30px;
    
    }
    
    #info div {
      margin: 10px;
      --offset: 10px;
      --border-size: 2px;
      display: block;
      position: relative;
      padding: 0.5em 0.5em;
      appearance: none;
      border: 0;
      background: #deb6ff;
      color: #945bff;
      letter-spacing: 0.1em;
      outline: none;
      cursor: pointer;
      font-weight: bold;
      border-radius: 0;
      box-shadow: inset 0 0 0 var(--border-size) currentcolor;
      transition: background 0.8s ease;
      border-radius: 10px;

       
    }
    #info div:hover {
      background-image: linear-gradient(to top, #ae7cff 10%, #ddbeffc7 100%);
      scale: 1.5;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
      transform: scale(0.7);
  }

  #info:hover {
    background: rgba(235, 214, 255, 0.521);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
    transform: scale(0.98);
    background-image: linear-gradient(to top, #00b32d 10%, #07db00 100%);
    
  }

/* PROJECT3 */
    
      .circle {
        margin: 15%;
        display:flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 200px;
        background-color: rgb(107, 255, 102);
        border-radius: 100px;
        font-size: 1.5rem;
        text-align: center;
        color: white;
        cursor: grab;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
        background-image: linear-gradient(to top, #4a08ff 10%, #b499ff 100%);
    
      }
    
      .circle:hover {
          transform: scale(2);
          background-image: linear-gradient(to top, #8a0000 10%, #ff0000 100%);
      }

      .circle img{
        height: fit-content;
        width:fit-content;
      }

      /*FUCKING FANCY BUTTON*/


      @font-face {
        font-family: "tweet";
        src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/277/tweet.woff") format("woff");
        font-weight: normal;
        font-style: normal;
      }
      
      
        
        .button5 {
          margin: 40px;
          --offset: 10px;
          --border-size: 3px;
          display: block;
          position: relative;
          padding: 1.5em 1em;
          appearance: none;
          border: 0;
          background-image: linear-gradient(to top, #b282ff 10%, #ecdbff 100%);
          color: #662bd3cc;
          text-transform: uppercase;
          letter-spacing: 0.25em;
          outline: none;
          cursor: pointer;
          font-weight: bold;
          border-radius: 0;
          box-shadow: inset 0 0 0 var(--border-size) currentcolor;
          transition: background 0.8s ease;
        }
        
        .button5:hover {
          background-image: linear-gradient(to top, #c175ff 10%, #8e51ff 100%);
          margin: 30px;
          padding: 30px;
          border-radius: 40px;  
        }
        .button__horizontal, .button__vertical {
          position: absolute;
          top: var(--horizontal-offset, 0);
          right: var(--vertical-offset, 0);
          bottom: var(--horizontal-offset, 0);
          left: var(--vertical-offset, 0);
          transition: transform 0.8s ease;
          will-change: transform;
        }
        .button__horizontal::before, .button__vertical::before {
          content: "";
          position: absolute;
          border: inherit;
        }
        .button__horizontal {
          --vertical-offset: calc(var(--offset) * -1);
          border-top: var(--border-size) solid currentcolor;
          border-bottom: var(--border-size) solid currentcolor;
        }
        .button__horizontal::before {
          top: calc(var(--vertical-offset) - var(--border-size));
          bottom: calc(var(--vertical-offset) - var(--border-size));
          left: calc(var(--vertical-offset) * -1);
          right: calc(var(--vertical-offset) * -1);
        }
        .button5:hover .button__horizontal {
          transform: scaleX(0);
        }
        .button__vertical {
          --horizontal-offset: calc(var(--offset) * -1);
          border-left: var(--border-size) solid currentcolor;
          border-right: var(--border-size) solid currentcolor;
        }
        .button__vertical::before {
          top: calc(var(--horizontal-offset) * -1);
          bottom: calc(var(--horizontal-offset) * -1);
          left: calc(var(--horizontal-offset) - var(--border-size));
          right: calc(var(--horizontal-offset) - var(--border-size));
        }
        .button5:hover .button__vertical {
          transform: scaleY(0);
        }

        .button5 a{
          color: rgb(99, 0, 156);
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          padding: 0 1rem;
          height: 100%;
         }
        
        .button5:hover {
          color: #ba7eff;
          transition: all 0.9s ease;
        }



        
/* NAVIGATION BAR */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  background-color: #bd77ff;
  background-image: linear-gradient(to top, #9c08ff 0%, #5d00b4 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: rgb(0, 173, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #6c00c4;
  color: #fff;
}

.button:hover {
  margin-left: 20px;
  background: #c40101;
  transition: all 0.3s ease;
  border-radius: 100px;
  
}


.button2 {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  background-image: linear-gradient(to top, #8e4afb 10%, #ecdbff 100%);
  color: #662bd3cc;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #c7aedc;
  color: #fff;
}

.button2:hover {
  margin-left: 20px;
  background: #b2ffab;
  transition: all 0.3s ease;
  border-radius: 10px;
  
}


.button3{
  margin: 10px;
  position: relative;
  padding: 1em 1em;
  border: 0;
  border-radius: 4px;
  background-image: linear-gradient(to top, #b282ff 10%, #ecdbff 100%);
  color: #662bd3cc;
  letter-spacing: 0.25em;
  cursor: pointer;
  font-weight: bold;
  transition: 1s;
}

.button3:hover{
  background-image: linear-gradient(to top, #c175ff 10%, #8e51ff 100%);
  padding: 1em;
  border-radius: 40px;  
}

.button3 a{ text-decoration: none;}  /*no line in link*/


.navbar__links:hover {
  color: #8f62f7;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 15px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }


  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}



/*IMAGE CLICK Honk*/


#btn1{
  display: inside;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3DD25D;
  cursor: pointer;}

#btn2{
 width: 50px;
 height: 50px;
 border-radius: 100px;
 background-color: #8f3dd2;
 cursor: pointer;}

#pic{
   width: 320px;
   height: 450px;
   background: transparent;
}


/*BANNER*/
.banner{
  margin: 0px 70px 0;
  width: 90%;
}



/*GALLERY*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.wrapper nav{
  display: flex;
  justify-content: center;
}
.wrapper .items{
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}
.items span{
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #7700ff;
  border-radius: 50px;
  border: 2px solid #6603e7;
  transition: all 0.3s ease;
}
.items span.active,
.items span:hover{
  color: #fff;
  background: #c080ff;
}
.gallery2{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.gallery2 .image2{
  width: calc(50% / 4);
  padding: 7px;
}
.gallery2 .image2 span{
  width: 90%;
}
.gallery2 .image2 img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery2 .image2:hover img{
  width: 100%;
  transform: scale(1.1);
}
.gallery2 .image2.hide{
  display: none;
}
.gallery2 .image2.show{
  animation: animate 0.4s ease;
}
@keyframes animate {
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}
.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 700px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details{
  padding: 13px 15px 13px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p{
  font-weight: 500;
  margin-left: 5px;
}
.details .icon{
  color: #007bff;
  font-style: 22px;
  cursor: pointer;
}
.preview-box .image-box{
  width: 100%;
  display: flex;
}
.image-box img{
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.4);
}
.shadow.show{
  display: block;
}
@media (max-width: 1000px) {
  .gallery .image{
    width: calc(100% / 3);
  }
}
@media (max-width: 800px) {
  .gallery .image{
    width: calc(100% / 2);
  }
}
@media (max-width: 700px) {
  .wrapper nav .items{
    max-width: 600px;
  }
  nav .items span{
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .wrapper{
    margin: 30px auto;
  }
  .wrapper nav .items{
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .items span{
    margin: 5px;
  }
  .gallery .image{
    width: 100%;
  }
}


/* Sep 2022 - QnA - Responsive FAQ accordion dropdown */

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 1rem auto;
}
.accordion-item {
  background-color: rgb(98, 31, 136);
  color:white;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.351);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}



/*NOV 2022*/
/*SINGLE PRODUCT PAGE*/

.single-product{margin-top: 80px;}

.single-product h4{
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  color:#3000aa;
}

.single-product .col-2{
  padding: 20px;
}

.single-product .col-2 img{
  width: 100%;
  padding: 0;
}

.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input{
  width: 60px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px #00e800;
  outline: none;
  color:#006405;
  background:#48ff51ac;
}

.single-product .fa{
  color: #008e07;
  margin-left: 10px;
}

.small-imgRow{
  display: flex;
  justify-content: space-between;
}

.small-imgCol{
  flex-basis: 24%;
  cursor: pointer;
}



.small-container{
  max-width: 1080px;
  margin:auto;
  padding-left: 20px;
  padding-right: 20px;
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
  background: none;
}

/* MOVING TEXT Backround TEST  */

.cool{
  background-image: url("/gallery/clowncore.gif");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
}

.cool2{  
  background-image: url("/gallery/clowncore2.gif");
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 90px;
}